@model IEnumerable<WheelOfFortune.Admin.Models.HistoryEntry>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>

<table class="table">

    <tr>
        <th>
        </th>
        <th>
            Id
        </th>
        <th>
            Type
        </th>
        <th>
            Time
        </th>
    </tr>

    @foreach (var b in Model)
    {

        <tr>
            <td>
                @if (@b.HistoryEntryTypeId.Equals(HistoryEntry.EntryType.Spin))
                {
                    @Html.ActionLink("Details", "SpinDetails", new { hid = b.HistoryEntryId })
                }
                else
                {
                    @Html.ActionLink("Details", "DepositDetails", new { hid = b.HistoryEntryId })
                }
            </td>
            <td>
                @b.HistoryEntryId
            </td>
            <td>
                @b.HistoryEntryTypeId
            </td>
            <td>
                @b.TimeOccurred
            </td>
        </tr>
    }

</table> 

<div>
    <input type="button" class="btn btn-default" value="Back to Users" onclick="location.href='@Url.Action("Index", "ApplicationUsers")'" />
</div>
